@use '@/sass/mixins/accessibility';

.container {
  @include accessibility.focusVisible {
    outline: none;
    @include accessibility.focusRing;

    transform: translateY(0);
    opacity: 1;
  }

  position: absolute;
  top: token('components.skiplink.y');
  left: token('components.skiplink.x');
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: token('components.button.sizes.medium');
  padding: 0 token('space.4');
  border-radius: token('components.skiplink.borderRadius');
  font-family: token('components.skiplink.font');
  color: token('components.skiplink.fg');
  background-color: token('components.skiplink.bg');
  text-decoration: none;
  transform: translateY(calc(-100% - token('space.2')));
  transition:
    transform 120ms ease,
    opacity 120ms ease;
  opacity: 0;
}
