@use '@themeshift/vite-plugin-themeshift/token' as themeShift;

@mixin base {
  color: themeShift.token('components.link.text');
  background: themeShift.token('components.link.surface');
  font-family: themeShift.token('components.link.font');
  padding: themeShift.token('components.link.padding');
}

.link {
  @include base;
}

@mixin hover {
  text-decoration: underline;
}
