@use '@themeshift/ui/sass/components/button' as button;

$compactMinHeight: 4rem;

.container {
  background: token('background.surfaceSunken');
  border: 1px solid token('border.default');
  border-radius: token('radius.small');
  overflow: hidden;
}

.preview {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  background: token('background.surfaceRaised');
  display: grid;
  justify-items: safe center;
  min-height: 300px;
  overflow-x: auto;
  position: relative;
  white-space: pre;
}

.examplesContainer {
  position: absolute;
  top: token('space.4');
  left: token('space.4');
  right: token('space.4');
  overflow-x: auto;
  padding-bottom: 0.75rem;
  overflow-y: hidden;
}

.examples {
  display: flex;
  flex-flow: row nowrap;
  gap: token('space.3');
  padding: 0.5rem;
}

.exampleButton {
  @include button.reset;

  color: token('text.muted');
  transition: 0.2s color;

  &[aria-pressed='true'] {
    color: token('text.primary');
    text-decoration: underline;
  }

  &:not([aria-pressed='true']):hover {
    color: token('text.primary');
  }
}

.content {
  display: grid;
  justify-items: center;
  margin-inline: auto;
  min-width: 100%;
  padding: 1rem;
  white-space: normal;
  width: fit-content;

  &.multipleExamples {
    margin-top: 2.5rem;
  }
}

.code {
  background: token('background.surfaceSunken');
  border-top: 1px solid token('border.default');
  max-height: $compactMinHeight;
  overflow: hidden;
  position: relative;

  &[data-expanded='true'] {
    max-height: none;
  }
}

.syntaxHighlighter {
  min-height: $compactMinHeight;
}

.codeContent {
  pointer-events: auto;

  [data-expanded='false'] & {
    padding: token('space.4');
  }
}

.codeOverlay {
  align-items: center;
  background: token('background.overlay');
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.copyButton {
  position: absolute;
  right: token('space.4');
  top: token('space.4');
}
