@use '@themeshift/ui/sass/typography';

.container {
  p {
    line-height: 1.75rem;
  }
}

.main {
  width: 100%;
}

.breadcrumb {
  margin: 0 0 1rem;
}

.eyebrow {
  @include typography.style('eyebrow.default');

  color: token('text.muted');
  margin: 0 0 0.25rem;
  text-transform: uppercase;
}

.description {
  margin: 0 0 1.5rem;
}

.content {
  > * + * {
    margin-top: 4rem;
  }

  h4 {
    // color: token('text.muted');
    font-weight: 600;
    margin: 0 0 0.75rem;
  }
}

.sectionHeader {
  margin-bottom: 1.5rem;
}

.sectionIntro {
  color: token('text.muted');
  margin: 0.5rem 0 0;
}

.aside {
  color: token('text.muted');
  height: 100%;
  width: 100%;
}

.asideInner {
  @media (min-width: 64rem) {
    position: sticky;
    top: calc(var(--themeshift-components-navbar-min-height) + 1rem);
    max-block-size: calc(
      100dvh - var(--themeshift-components-navbar-min-height) - 2rem
    );
    overflow-y: auto;
  }
}
