.sampleContainer {
  display: grid;
  min-width: 24rem;
  place-items: center;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid token('border.default');
  border-radius: token('radius.medium');
}

.cardContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  min-width: 12rem;
}

.list {
  display: grid;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listRow {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.listRowText {
  display: grid;
  gap: 0.5rem;
  min-width: 12rem;
  width: 100%;
}
