@use '@/sass/mixins/components/button';
@use '@/sass/mixins/components/link';
@use '@/sass/mixins/accessibility';
@use '@/sass/mixins/typography';

.container {
  @include button.reset;
  @include accessibility.buttonFocus;
  @include typography.style('button.medium');

  align-items: center;
  display: inline-flex;
  gap: token('space.2');
  justify-content: center;
  transition: 0.15s transform;
  white-space: nowrap;

  /**
   * Remove `text-decoration` by default to support the common use-case
   * of using <Button asChild> with a link
   */
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:disabled {
    @include button.disabled;

    cursor: not-allowed;
  }

  &:not(:disabled):active {
    transform: translateY(1px);
  }
}

// Utility classes
.iconSlot,
.label {
  display: inline-flex;
}

.iconSlot {
  flex: 0 0 auto;
  line-height: 0;

  > svg {
    width: 1em;
    height: 1em;
  }
}

.visuallyDisabled {
  @include button.disabled;

  cursor: default;
}

/**
 * Button `size`
 */
.small {
  @include typography.style('button.small');

  min-height: token('components.button.sizes.small.height');
  padding: token('components.button.sizes.small.padding');
  border-radius: token('components.button.sizes.small.borderRadius');

  &.iconOnly {
    padding: token('components.button.sizes.small.padding.iconOnly');
  }
}

.medium {
  @include typography.style('button.medium');

  min-height: token('components.button.sizes.medium.height');
  padding: token('components.button.sizes.medium.padding');
  border-radius: token('components.button.sizes.medium.borderRadius');

  &.iconOnly {
    padding: token('components.button.sizes.medium.padding.iconOnly');
  }
}

.large {
  @include typography.style('button.large');

  min-height: token('components.button.sizes.large.height');
  padding: token('components.button.sizes.large.padding');
  border-radius: token('components.button.sizes.large.borderRadius');

  &.iconOnly {
    padding: token('components.button.sizes.large.padding.iconOnly');
  }
}

/**
 * Button `intent`
 */
.primary {
  background: token('components.button.intents.primary.bg');
  color: token('components.button.intents.primary.fg');

  &:not(:disabled, .visuallyDisabled):hover {
    background: token('components.button.intents.primary.hover');
  }
}

.secondary {
  background: token('components.button.intents.secondary.bg');
  color: token('components.button.intents.secondary.fg');

  &:not(:disabled, .visuallyDisabled):hover {
    background: token('components.button.intents.secondary.hover');
  }
}

.tertiary {
  background: token('components.link.bg');
  color: token('components.link.fg');

  &:not(:disabled, .visuallyDisabled):hover,
  &:not(:disabled, .visuallyDisabled):focus-visible {
    @include link.hover;
  }
}

.constructive {
  background: token('components.button.intents.constructive.bg');
  color: token('components.button.intents.constructive.fg');

  &:not(:disabled, .visuallyDisabled):hover {
    background: token('components.button.intents.constructive.hover');
  }
}

.destructive {
  background: token('components.button.intents.destructive.bg');
  color: token('components.button.intents.destructive.fg');

  &:not(:disabled, .visuallyDisabled):hover {
    background: token('components.button.intents.destructive.hover');
  }
}
