@use '@/sass/mixins/components/button';
@use '@/sass/mixins/components/link';
@use '@/sass/mixins/accessibility';
@use '@/sass/mixins/typography';

.container {
  @include button.reset;
  @include accessibility.buttonFocus;

  padding: token('components.button.padding');
  border-radius: token('radius.small');
  @include typography.style('button.medium');
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:disabled {
    @include button.disabled;

    cursor: not-allowed;
  }
}

// Utility classes
.visuallyDisabled {
  @include button.disabled;
}

// Button sizes
.small {
  @include typography.style('button.small');
  min-height: token('components.button.sizes.small');
}

.medium {
  @include typography.style('button.medium');
  min-height: token('components.button.sizes.medium');
}

.large {
  @include typography.style('button.large');
  min-height: token('components.button.sizes.large');
}

// Button intents
.primary {
  background: token('components.button.intents.primary.surface');
  color: token('components.button.intents.primary.fg');

  &:not(:disabled):hover {
    background: token('components.button.intents.primary.hover');
  }
}

.secondary {
  background: token('components.button.intents.secondary.surface');
  color: token('components.button.intents.secondary.fg');

  &:not(:disabled):hover {
    background: token('components.button.intents.secondary.hover');
  }
}

.tertiary {
  background: token('components.link.surface');
  color: token('components.link.text');

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    @include link.hover;
  }
}

.constructive {
  background: token('components.button.intents.constructive.surface');
  color: token('components.button.intents.constructive.fg');

  &:not(:disabled):hover {
    background: token('components.button.intents.constructive.hover');
  }
}

.destructive {
  background: token('components.button.intents.destructive.surface');
  color: token('components.button.intents.destructive.fg');

  &:not(:disabled):hover {
    background: token('components.button.intents.destructive.hover');
  }
}
