.root {
  width: 100%;
  color: token('text.primary');
  background-color: token('components.navbar.background');
  border-bottom: 1px solid token('components.navbar.border');
}

.static {
  position: static;
}

.absolute {
  inset-inline: 0;
  position: absolute;
  top: 0;
}

.fixed {
  inset-inline: 0;
  position: fixed;
  top: 0;
}

.sticky {
  position: sticky;
  top: 0;
}
