.root {
  width: 100%;
  color: token('theme.text.base');
  background-color: token('components.navbar.surface');
  border-bottom: 1px solid token('components.navbar.border');
}

.static {
  position: static;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.sticky {
  position: sticky;
  top: 0;
}
