.container {
  border: 1px solid token('theme.border');
  padding: 0.75rem;
  border-radius: token('radius.small');

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: start;

  &:hover {
    text-decoration: none;
    background: token('theme.surface.raised');
  }
}

.title {
  font-weight: bold;
  color: token('theme.text.base');
}

.description {
  color: token('theme.text.muted');
}
