@use '@/sass/mixins/typography';

@import '@fontsource-variable/inter/wght.css';
@import '@fontsource-variable/inter/wght-italic.css';

:root {
  color-scheme: dark light;
  color: token('theme.text.base');
  background-color: token('theme.surface.base');

  @include typography.style('body.default');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: token('typography.metrics.1.lineHeight');
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

textarea {
  resize: vertical;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
