.container {
  background: token('background.surfaceSunken');
  border: 1px solid token('border.default');
  border-radius: token('radius.small');
  color: token('text.muted');
  min-width: 0;
  overflow: hidden;
  padding: token('space.4');
  position: relative;
  transition: 0.3s color;
  width: 100%;

  &:hover {
    color: token('text.primary');
  }
}

.string {
  font-family: token('font.family.mono');
  white-space: pre;
}

.container :global(pre) {
  max-width: 100%;
  width: 100%;
}

.copyButton {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}
