@use '@/sass/mixins/accessibility';
@use '@/sass/mixins/typography';

.root {
  @include accessibility.focusVisibleRing;

  align-items: center;
  border: 1px solid transparent;
  border-radius: token('components.badge.size.medium.borderRadius');
  display: inline-flex;
  gap: token('components.badge.layout.iconGap');
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;

  &:visited {
    color: inherit;
  }
}

.root:where(button) {
  appearance: none;
  background: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  text-align: inherit;
}

.small {
  @include typography.style('caption.default');

  border-radius: token('components.badge.size.small.borderRadius');
  min-height: token('components.badge.size.small.height');
  padding-inline: token('components.badge.size.small.paddingInline');
}

.medium {
  @include typography.scale(0);

  border-radius: token('components.badge.size.medium.borderRadius');
  min-height: token('components.badge.size.medium.height');
  padding-inline: token('components.badge.size.medium.paddingInline');
}

.iconSlot,
.label {
  display: inline-flex;
}

.iconSlot {
  line-height: 0;

  > svg {
    block-size: 1em;
    inline-size: 1em;
  }
}

.toneNeutralSoft {
  background-color: token('components.badge.variant.neutral.soft.background');
  border-color: token('components.badge.variant.neutral.soft.border');
  color: token('components.badge.variant.neutral.soft.text');
}

.toneNeutralSolid {
  background-color: token('components.badge.variant.neutral.solid.background');
  border-color: token('components.badge.variant.neutral.solid.border');
  color: token('components.badge.variant.neutral.solid.text');
}

.toneNeutralOutline {
  background-color: token(
    'components.badge.variant.neutral.outline.background'
  );
  border-color: token('components.badge.variant.neutral.outline.border');
  color: token('components.badge.variant.neutral.outline.text');
}

.toneInfoSoft {
  background-color: token('components.badge.variant.info.soft.background');
  border-color: token('components.badge.variant.info.soft.border');
  color: token('components.badge.variant.info.soft.text');
}

.toneInfoSolid {
  background-color: token('components.badge.variant.info.solid.background');
  border-color: token('components.badge.variant.info.solid.border');
  color: token('components.badge.variant.info.solid.text');
}

.toneInfoOutline {
  background-color: token('components.badge.variant.info.outline.background');
  border-color: token('components.badge.variant.info.outline.border');
  color: token('components.badge.variant.info.outline.text');
}

.toneSuccessSoft {
  background-color: token('components.badge.variant.success.soft.background');
  border-color: token('components.badge.variant.success.soft.border');
  color: token('components.badge.variant.success.soft.text');
}

.toneSuccessSolid {
  background-color: token('components.badge.variant.success.solid.background');
  border-color: token('components.badge.variant.success.solid.border');
  color: token('components.badge.variant.success.solid.text');
}

.toneSuccessOutline {
  background-color: token(
    'components.badge.variant.success.outline.background'
  );
  border-color: token('components.badge.variant.success.outline.border');
  color: token('components.badge.variant.success.outline.text');
}

.toneWarningSoft {
  background-color: token('components.badge.variant.warning.soft.background');
  border-color: token('components.badge.variant.warning.soft.border');
  color: token('components.badge.variant.warning.soft.text');
}

.toneWarningSolid {
  background-color: token('components.badge.variant.warning.solid.background');
  border-color: token('components.badge.variant.warning.solid.border');
  color: token('components.badge.variant.warning.solid.text');
}

.toneWarningOutline {
  background-color: token(
    'components.badge.variant.warning.outline.background'
  );
  border-color: token('components.badge.variant.warning.outline.border');
  color: token('components.badge.variant.warning.outline.text');
}

.toneDangerSoft {
  background-color: token('components.badge.variant.danger.soft.background');
  border-color: token('components.badge.variant.danger.soft.border');
  color: token('components.badge.variant.danger.soft.text');
}

.toneDangerSolid {
  background-color: token('components.badge.variant.danger.solid.background');
  border-color: token('components.badge.variant.danger.solid.border');
  color: token('components.badge.variant.danger.solid.text');
}

.toneDangerOutline {
  background-color: token('components.badge.variant.danger.outline.background');
  border-color: token('components.badge.variant.danger.outline.border');
  color: token('components.badge.variant.danger.outline.text');
}

.colorGray {
  background-color: token('components.badge.colors.gray.background');
  border-color: token('components.badge.colors.gray.border');
  color: token('components.badge.colors.gray.text');
}

.colorBlue {
  background-color: token('components.badge.colors.blue.background');
  border-color: token('components.badge.colors.blue.border');
  color: token('components.badge.colors.blue.text');
}

.colorGreen {
  background-color: token('components.badge.colors.green.background');
  border-color: token('components.badge.colors.green.border');
  color: token('components.badge.colors.green.text');
}

.colorYellow {
  background-color: token('components.badge.colors.yellow.background');
  border-color: token('components.badge.colors.yellow.border');
  color: token('components.badge.colors.yellow.text');
}

.colorOrange {
  background-color: token('components.badge.colors.orange.background');
  border-color: token('components.badge.colors.orange.border');
  color: token('components.badge.colors.orange.text');
}

.colorRed {
  background-color: token('components.badge.colors.red.background');
  border-color: token('components.badge.colors.red.border');
  color: token('components.badge.colors.red.text');
}

.colorPink {
  background-color: token('components.badge.colors.pink.background');
  border-color: token('components.badge.colors.pink.border');
  color: token('components.badge.colors.pink.text');
}

.colorPurple {
  background-color: token('components.badge.colors.purple.background');
  border-color: token('components.badge.colors.purple.border');
  color: token('components.badge.colors.purple.text');
}

.countRoot {
  @include typography.scale(0, semiBold);

  display: inline-flex;
}

.anchored {
  position: relative;
}

.anchor {
  display: inline-flex;
}

.indicator {
  align-items: center;
  background-color: token('components.badge.count.background');
  border: 1px solid token('components.badge.count.border');
  border-radius: token('components.badge.count.borderRadius');
  color: token('components.badge.count.text');
  display: inline-flex;
  font-variant-numeric: tabular-nums;
  justify-content: center;
  line-height: 1;
  min-block-size: token('components.badge.count.minSize');
  min-inline-size: token('components.badge.count.minSize');
  padding-inline: token('components.badge.count.paddingInline');
  text-align: center;
}

.numeric {
  line-height: 1;
}

.textDot {
  font-size: 1.1em;
}

.dot {
  min-block-size: token('components.badge.count.dotSize');
  min-inline-size: token('components.badge.count.dotSize');
  padding-inline: 0;
}

.topStart .indicator,
.topEnd .indicator,
.bottomStart .indicator,
.bottomEnd .indicator {
  position: absolute;
}

.topStart .indicator {
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translate(-50%, -50%);
}

.topEnd .indicator {
  inset-block-start: 0;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
}

.bottomStart .indicator {
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: translate(-50%, 50%);
}

.bottomEnd .indicator {
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: translate(50%, 50%);
}

:global([dir='rtl']) .topStart .indicator {
  transform: translate(50%, -50%);
}

:global([dir='rtl']) .topEnd .indicator {
  transform: translate(-50%, -50%);
}

:global([dir='rtl']) .bottomStart .indicator {
  transform: translate(50%, 50%);
}

:global([dir='rtl']) .bottomEnd .indicator {
  transform: translate(-50%, 50%);
}

.standalone {
  align-items: center;
  justify-content: center;
}

.inlineIndicator {
  position: static;
}
