@use 'sass:color';

.buttonGroup {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  @media (max-width: 1520px) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.matrixButtonGroup {
  margin: 0 0 1rem;
}

.pinkButton {
  background: hotpink;

  &:not(:disabled):hover {
    background: color.scale(hotpink, $lightness: -5%) !important;
  }
}
