@use '../../../../sass/_tokens.static.scss' as *;

.container {
  --navbar-container-gap: #{token('components.navbar.container.gap')};
  --navbar-max-width: #{token('components.navbar.container.maxWidth')};
  --navbar-padding-inline: #{token(
      'components.navbar.container.paddingInline.mobile'
    )};

  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  column-gap: var(--navbar-container-gap);
  width: 100%;
  max-width: var(--navbar-max-width);
  min-height: token('components.navbar.minHeight');
  margin-inline: auto;
  padding-block: token('components.navbar.padding.block');
  padding-inline: var(--navbar-padding-inline);

  @media (min-width: $layout_breakpoints_tablet) {
    --navbar-padding-inline: #{token(
        'components.navbar.container.paddingInline.tablet'
      )};
  }

  @media (min-width: $layout_breakpoints_desktop) {
    --navbar-padding-inline: #{token(
        'components.navbar.container.paddingInline.desktop'
      )};
  }
}
