.section {
  --navbar-section-gap: #{token('components.navbar.section.gap')};

  display: flex;
  align-items: center;
  min-width: 0;
  gap: var(--navbar-section-gap);
}

.start {
  grid-column: 1;
  justify-self: stretch;
  justify-content: flex-start;
}

.center {
  grid-column: 2;
  justify-self: center;
  justify-content: center;
}

.end {
  grid-column: 3;
  justify-self: stretch;
  justify-content: flex-end;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
